extends layoutBack

block content
  h1.page-header= pageHeader
  .container
    h3 Send a Package
    p Reccivers Information
    form
      .form-group
        label Street
        input(type="text")
      .form-group
        label City/Town
        input(type="text")
      .form-group
        label District
        input(type="text")
      .form-group
        label State
        input(type="text")
      .form-group
        label PIN
        input(type="text")
      .form-group
        input(type="submit" value="Send")
