extends layoutBack

block content
  h1= title
  .container
    .row
      .col-md-6
        h3 Transaction ID: fkjndsngdslbgk kdsk
        table
          tr
            th Transaction Started:
            td 02/11/2018
          tr
            th Initial address
            td Adress of the Initial vendor
          tr
            th Reccivers address
            td Adress where the package is actually intended to
          tr
            th Current Sender
            td Address of Current Sender
          tr
            th Date dispacched by previous vendor
            td 21/12/1019
          tr
            th Current Recciver
            td Address of the vendor that the package is currently intended to
